<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Hola Flask!</title>
    </head>
    <body>
        <h3>Mi plantilla Flask</h3>
        <p>Frase: {{ frase }}</p>
        <p>Veces: {{ veces }}</p>
            
        {% for x in range(0, veces): %}
            <p>{{ frase }}</p>
        {% endfor %}
            
        {% if frase == "hola" %}
        <p>La frase dice hola</p>
        {% endif %}
    </body>
</html>